.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.headingContainer {
    height: 10rem;
padding-top: 2rem;
    width: 75%;

    padding-left: 20rem;
    background-color: #f0f0f0;

}

.headingContainer input {
    height: 2.5rem;
    margin-top: 1rem;
    width: 25rem;
    padding: 0rem 1rem;
}
.headingContainer button {
    height: 2.5rem;
}


.ngoCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}